body {
    background-color: aliceblue;
}

h1 {
    color:rgba(255, 120, 255, 0.771);
}

h2 {
    text-align: center;
}

h3 {
    color:blueviolet;
}

h4 {
    color:#d4ffea;
}

h5 {
    color:hsl(168, 73%, 53%);
}

.ems li {
    font-size: 16px;
}

.wrapper {
    font-size: 1em;
}

.px {
    width: 200px;
    height: 0.75in;
}

.vw {
    width: 20vw;
    height: 5pt;
    font-size: 1rem;
}

.em {
    width: 10em;
    height: 2vh;
    font-size: 2ex;
}

.box {
    margin:auto;
    border: 1px solid black;
}

.container {
    padding-top: 20x;
    margin-bottom: 1%;
    border-style: dotted;
    border-color:blue;
    border-top-width: 1px;
    border-radius: 10px;
}

span {
    background-color: lightcoral;
    position: static;
    margin: 40px;
    color:azure;
    padding: 5px;
    display: inline flow;
    max-height: 20px;
    max-width: 60px;
}

.bg {
    background: linear-gradient(
    105deg,
    rgba(255, 255, 255, 0.2) 39%,
    rgba(51, 56, 57, 1) 96%
    )
    no-repeat, rebeccapurple;
    border-radius: 10px;
}

.txtbg {
    background: linear-gradient(
    105deg,
    rgba(87, 210, 221, 0.2) 39%,
    rgb(92, 156, 169) 96%
    )
    no-repeat, rgb(79, 204, 200);
    width:max-content;
}

.w {
    color:azure;
}

.dis {
    display: none; 
}

.grade {
    position: relative; 
    background:blue; 
    color: white;
}

.a {
    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 2;
}

.b {
    display: flex;
    align-self: flex-start;
    flex-grow: 4;
}

/* Exact width */
@media (width: 360px) {
}

/* Minimum width */
@media (min-width: 35rem) {
    div {
        background:rgba(158, 202, 210, 0.77)
    }
}
